{% extends "base.html" %}

{% block body_block %}
    <div class="row">
        <div class="col">
            <h1 class="display-3 font-italic">Welcome</h1>
            <h1 class="display-3 font-italic">To</h1>
            <h1 class="display-3 font-italic">Grumblr</h1>
        </div>
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" style="background-color: #ABEBC6;">
                            <h1 class="display-4 text-center">Login</h1>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <div class="container">
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col-10">
                                        <form>
                                            <div class="form-group row">
                                                <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                                            </div>
                                        </br>
                                            <div class="form-group row">
                                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                            </div>
                                            <div class="form-group">
                                                <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                                <label class="form-check-label" for="gridCheck" style="font-family:'Raleway';">
                                                    Remember me
                                                </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <a class="btn btn-primary btn-lg btn-block" href="file:///C:/Users/xucha/Documents/%E5%89%8D%E7%AB%AF%E7%BD%91%E8%AF%BE/17-437/hwk1/homework1-post.html" role="button">Login</a>
                                            </div>
                                            <div>
                                                <p class="mb-0" style="font-family:'Raleway';">No account? Register Now!</p>
                                            </div>
                                            <div class="form-group row">
                                                <a class="btn btn-primary btn-lg btn-block" href="file:///C:/Users/xucha/Documents/%E5%89%8D%E7%AB%AF%E7%BD%91%E8%AF%BE/17-437/hwk1/homework1-registration.html" role="button">Register New Account</a>
                                            </div>
                                        </form>    
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
