{% extends "base.html" %}
{% load static %}

{% block body_block %}
<div class="row">
    <div class="col-10">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="card w-90">
                    <div class="card-body">
                        <form method="POST" id="prevented">
                            {% csrf_token %}
                            {{ post_form.as_p }}
                            <button type="submit" class="save btn btn-primary">POST</button>
                        </form>
                    </div>
                </div>
            </li>            
        </ul>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="card w-90">
                    <div class="card-body">
                        <h5 class="card-title">{{ posts.user }}</h5>
                        <p class="card-text">Self introduction.</p>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="list-group list-group-flush">
            {% for posts in post_records %}
            <li class="list-group-item">{{ posts.post }}
              <p class="card-text text-right"><small class="text-muted">{{ posts.post_time|date:"Y-m-d H:i:s" }}</small></p>
            </li>
            {% endfor %}
        </ul>
    <div>
    <div class="col-2">
        <h1 class="display-4 font-italic">User A</h1>
    </div>
        
    </div>
    
    <div class="col-10">
        <ul class="list-group list-group-flush" id="postPool">
    </div>
    
</div>

{% endblock %}
